html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #2c3e50;
	counter-reset: section;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	outline: none !important;
	margin: 0;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
.mt30 {
	margin-top: 40px;
}
.mt20 {
	margin-top: 20px !important;
}
.clear {
	clear: both;
}

/*footer Css Start*/
footer {
	background-color: #f05330;
	padding: 50px 0 40px 0;
	color: #fff;
}
.footer-address {
}
.footer-address h4 {
	font-size: 18px;
	font-weight: bold;
}
.footer-address p {
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
}
.footer-address p span {
	display: block;
}
.footer-address ul {
	margin-top: 14px;
}
.footer-address ul li {
	font-weight: 500;
	list-style: none;
	font-size: 15px;
}
.footer-address ul li a {
	color: #fff;
}
.footer-social-links {
	margin-top: 15px;
}
.footer-social-links ul {
}
.footer-social-links ul li {
	display: inline-block;
}
.footer-social-links ul li a {
	color: #fff;
	font-size: 20px;
	display: block;
	margin-right: 15px;
	background-color: #ef5026;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
footer .newsletter {
}
footer .newsletter b {
	font-size: 15px;
	line-height: 17px;
	display: block;
}
footer .newsletter form {
	margin-top: 20px;
}
footer .newsletter form .form-group {
	position: relative;
	margin-bottom: 0;
}
footer .newsletter form .form-group .form-control {
	height: 50px;
	border-radius: 0;
	background-color: #fff;
	box-shadow: none;
	border: none;
	padding-right: 120px;
}
footer .newsletter form .form-group button {
	background-color: #5b5b5b !important;
	border: none;
	color: #fff !important;
	border-radius: 0;
	box-shadow: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	padding: 10px 27px;
}
footer .footer-links {
}
footer .footer-links ul {
}
footer .footer-links ul li {
	display: block;
	list-style: none;
}
footer .footer-links ul li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 580px) {
.activities-list .activities-title {
	padding-left: 50px;
}
}

@media only screen and (max-width: 480px) {
footer {
	text-align: center;
}
footer .newsletter {
	margin: 15px 0;
}
}
.footer-v1 {
    padding: 60px;
}
