html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #2c3e50;
	counter-reset: section;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	outline: none !important;
	margin: 0;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
.mt30 {
	margin-top: 40px;
}
.mt20 {
	margin-top: 20px !important;
}
.clear {
	clear: both;
}

/*Footer version 5 Css Start*/
footer#footer-section {
    padding: 0;
}
.footer-section .jewellry-footer .footer-top {
	padding: 60px 0px;
}
.footer-section .jewellry-footer .footer-top .item .icon {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 0;
	font-size: 60px;
	margin-right: 10px;
	color: #666666;
}
.footer-section .jewellry-footer .footer-top .item .content {
	display: table;
}
.footer-section .jewellry-footer .footer-top .item .content h3 {
	font-size: 14px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.footer-section .jewellry-footer .footer-top .item .content p {
	margin: 0px;
	font-size: 14px;
}
.footer-section .jewellry-footer .footer-newsletter {
	padding: 30px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color:#fff;
}
.footer-section .jewellry-footer .footer-newsletter .newsletter-content h2 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.footer-section .jewellry-footer .footer-newsletter .newsletter-content p {
	margin: 0px;
	font-size: 16px;
}
.footer-section .jewellry-footer .footer-newsletter .newsletter-form .form-item .submit-btn {
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding: 0px 20px;
	border-radius: 3px;
	position: absolute;
	color: #ffffff;
	border: none;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .contact-info-list ul li {
	width: 100%;
	display: table;
	font-size: 15px;
	margin-bottom: 15px;
	color: #ccc;
	list-style: none;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .contact-info-list ul li:last-child {
	margin-bottom: 0px;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .contact-info-list ul li strong {
	font-weight: 600;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .contact-info-list ul li .icon {
	float: left;
	font-size: 24px;
	text-align: center;
	margin-right: 15px;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .social-links ul li {
	width: 35px;
	height: 35px;
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
	text-align: center;
	border-radius: 3px;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .social-links ul li a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	color: #222222;
	background-color: #f0f0f0;
}
.footer-section .jewellry-footer .footer-middle .footer-contact .social-links ul li a:hover {
	color: #ffffff;
	background-color: #c09749;
}
.footer-section .jewellry-footer .footer-middle .useful-links ul li {
	margin-bottom: 15px;
	list-style: none;
}
.footer-section .jewellry-footer .footer-middle .useful-links ul li:last-child {
	margin-bottom: 0px;
}
.footer-section .jewellry-footer .footer-middle .useful-links ul li a {
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	color: #ccc;
}
.footer-section .jewellry-footer .footer-middle .useful-links ul li a:hover {
	color: #c09749;
}
.footer-section .jewellry-footer .footer-bottom {
	padding: 30px 0px;
	background-color: #fff;
	color: #222;
}
.bg-black {
	background-color: #222222;
}
.form-item {
	height: auto;
	position: relative;
	margin-bottom: 30px;
}
.form-item input {
	margin: 0px;
	width: 100%;
	height: 50px;
	padding: 0px 110px 0px 20px;
	border-radius: 3px;
	background-color: #ffffff;
	color: #5d5a5a;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid #f0f0f0;
}
.form-item input:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #1ec7a6;
}
.form-item input:focus + .form-item-btn {
	color: #ffffff;
	background-color: #1ec7a6;
}
.form-item .form-item-btn {
	top: 5px;
	right: 5px;
	margin: 0px;
	height: 40px;
	min-width: 40px;
	font-size: 18px;
	cursor: pointer;
	line-height: 40px;
	border-radius: 3px;
	text-align: center;
	position: absolute;
	color: #666666;
	background-color: #f7f7f7;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bg-gplus-red {
	background-color: #f56c57;
}
.footer-section .footer-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
	text-transform: uppercase;
	color:#fff;
}
.footer-section .default-footer .footer-top {
	padding: 30px 0px;
}
.footer-section .default-footer .footer-top .footer-menu {
	padding: 20px 0px;
}
.footer-section .default-footer .footer-top .footer-menu ul li {
	position: relative;
	margin-right: 20px;
	padding-right: 20px;
}
.footer-section .default-footer .footer-top .footer-menu ul li:after {
	top: 0px;
	right: 0px;
	bottom: 0px;
	content: '|';
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
}
.footer-section .default-footer .footer-top .footer-menu ul li:last-child {
	margin-right: 0px;
	padding-right: 0px;
}
.footer-section .default-footer .footer-top .footer-menu ul li:last-child:after {
	display: none;
}
.footer-section .default-footer .footer-top .footer-menu ul li a {
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
}
.footer-section .default-footer .footer-top .footer-menu ul li a:hover {
	text-decoration: underline;
}
.footer-section .default-footer .footer-top .footer-social-links {
	padding: 13px 0px;
}
.footer-section .default-footer .footer-top .footer-social-links ul li {
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin-right: 5px;
	text-align: center;
	border-radius: 3px;
}
.footer-section .default-footer .footer-top .footer-social-links ul li:last-child {
	margin-right: 0px;
}
.footer-section .default-footer .footer-top .footer-social-links ul li a {
	opacity: .8;
	width: 100%;
	height: 100%;
	display: block;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	color: #222222;
	background-color: #ffffff;
}
.footer-section .default-footer .footer-top .footer-social-links ul li a:hover {
	opacity: 1;
}
.footer-section .default-footer .footer-middle {
	padding: 30px 0px;
}
.footer-section .default-footer .footer-middle .footer-contact {
	padding-right: 70px;
}
.footer-section .default-footer .footer-middle .footer-contact ul li {
	width: 100%;
	display: table;
	font-size: 14px;
	margin-bottom: 15px;
}
.footer-section .default-footer .footer-middle .footer-contact ul li:last-child {
	margin-bottom: 0px;
}
.footer-section .default-footer .footer-middle .footer-contact ul li .icon {
	float: left;
	font-size: 24px;
	margin-right: 15px;
	text-align: center;
}
.footer-section .default-footer .footer-middle .footer-contact ul li .contact-text {
	display: table;
}
.footer-section .default-footer .footer-middle .useful-links ul li {
	margin-bottom: 15px;
}
.footer-section .default-footer .footer-middle .useful-links ul li:last-child {
	margin-bottom: 0px;
}
.footer-section .default-footer .footer-middle .useful-links ul li a {
	font-weight: 400;
	color: #666666;
	text-transform: capitalize;
}
.footer-section .default-footer .footer-middle .useful-links ul li a:hover {
	color: #1ec7a6;
}
.footer-section .default-footer .footer-middle .footer-newsletter {
	margin-top: 50px;
	padding-top: 30px;
	border-top: 1px solid #f0f0f0;
}
.footer-section .default-footer .footer-middle .footer-newsletter .newsletter-form .form-item button {
	top: 0;
	right: 0;
	bottom: 0;
	font-weight: 500;
	padding: 0px 30px;
	position: absolute;
	color: #ffffff;
	text-transform: uppercase;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.footer-section .default-footer .footer-bottom {
	padding: 30px 0px;
	border-top: 1px solid #f0f0f0;
}
.sec-ptb-60 {
	padding: 60px 0px;
}
.social-links {
	margin-top: 20px;
}
.footer-instagram {
	
}
.footer-instagram ul{
	
}
.footer-instagram ul li{
	width: 70px;
	vertical-align: middle;
	margin: 0 5px 10px 0;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	padding: 6px 5px;
	display: inline-block;
	overflow: hidden;
}
.footer-instagram ul li a{
	
}